
/*** 

====================================================================
  Anim Icons
====================================================================

***/
  
.reveal {
    position: relative;
    display: inline-flex;
    visibility: hidden;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform-origin: left;
    }   
}

.anim-icons {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: calc(var(--container-width) - 30px);
    margin: 0 auto;
}

[text-split] {
    opacity: 0;
}

.word {
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: -0.1em;
    transform-origin: bottom;
}

.anim-icons.full-width {
    max-width: 100%;
}

.anim-icons .icon {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-plane-1{
    background-image: url(../images/icons/icon-plane-1.png);
    height: 349px;
    width: 350px;
}

.icon-plane-2 {
    width: 106px;
    height: 640px;
    background-image: url(../images/icons/icon-plane-2.png);
}

.icon-plane-3 {
    width: 455px;
    height: 420px;
    background-image: url(../images/icons/icon-plane-3.png);
}

.icon-plane-4 {
    width: 301px;
    height: 336px;
    background-image: url(../images/icons/icon-plane-4.png);
}


.overlay-2 {
    width: 860px;
    height: 621px;
    background-image: url(../images/icons/overlay-2.png);
}

.overlay-4 {
    width: 1078px;
    height: 621px;
    background-image: url(../images/icons/overlay-4.png);
}

.icon-quote {
    width: 54px;
    height: 46px;
    background-image: url(../images/icons/icon-quote.png);
}

.icon-quote-2 {
    width: 137px;
    height: 99px;
    background-image: url(../images/icons/icon-quote-2.png);
}

.icon-dots {
    width: 730px;
    height: 565px;
    background-image: url(../images/icons/icon-dots.png);
}

.icon-dots-2 {
    width: 679px;
    height: 676px;
    background-image: url(../images/icons/icon-dots-2.png);
}

.icon-dots-4 {
    width: 810px;
    height: 666px;
    background-image: url(../images/icons/icon-dots-4.png);
}

.icon-dots-5 {
    width: 396px;
    height: 245px;
    background-image: url(../images/icons/icon-dots-5.png);
}

.icon-city {
    width: 919px;
    height: 348px;
    background-image: url(../images/icons/icon-city.png);
}

.bg-lines {
    width: 1532px;
    height: 100%;
    background-image: url(../images/icons/bg-lines.jpg);
}

.bounce-y{
    animation: bounce-y 10s infinite linear;
}

.bounce-x{
    animation: bounce-x 10s infinite linear;
}

.zoom-one{
    animation: zoom-one 10s infinite linear;
}

.zoom-two{
    animation: zoom-two 5s infinite linear;
}

@keyframes float{
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-y {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-x {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes zoom-one {
    0% {
        transform: scale(.95);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(.95);
    }
}

@keyframes zoom-two {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}


.overlay-anim {
    position: relative;
    &:after {
        background: rgba(255, 255, 255, 0.3);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        opacity: 1;
        z-index: 9;
        pointer-events: none;
    }
    &:hover{
        &:after {
            height: 100%;
            opacity: 0;
            transition: all 400ms linear;
        }
    }   
}

.overlay-anim-two {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    &:hover {
        &:after {
            left: 0;
            right: 0;
            opacity: 0;
            transition: all 400ms linear;
        }
    }
    &:after {
        background: rgba(255, 255, 255, .3);
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 51%;
        top: 0;
        opacity: 1;
        pointer-events: none;
        transition: all 300ms linear;
    }
}



// Animated Moving Circles

.circle {
    position: fixed;
    width: 10px;
    height: 10px;
    left: -10px;
    top: -10px;
    border-radius: 100%;
    z-index: 1;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    @supports (mix-blend-mode: difference) {
        background-color: white;
        mix-blend-mode: difference;
    }
    @include for-md{
        display: none !important;
    }
}

.circle-follow {
    position: fixed;
    mix-blend-mode: difference;
    width: 30px;
    height: 30px;
    left: -21px;
    top: -21px;
    border-radius: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    @supports (mix-blend-mode: difference) {
        border: 1px solid #fff;
        mix-blend-mode: difference;
    }
    @include for-md {
        display: none !important;
    }
}


/* Animate 1 */
.owl-carousel{
    .animate-7,
    .animate-6,
    .animate-5,
    .animate-4,
    .animate-3,
    .animate-2,
    .animate-1{
        opacity: 0;
        transform: translateY(100px);
        transition: all 500ms ease;
    }
    .animate-x {
        opacity: 0;
        transform: translateX(100px);
        transition: all 500ms ease;
    }
    
    .active{
        .animate-7,
        .animate-6,
        .animate-5,
        .animate-4,
        .animate-3,
        .animate-2,
        .animate-1 {
            opacity: 1;
            transform: translateY(0);
        }
        .animate-2 {
            transition-delay: 300ms;
        }
        .animate-3 {
            transition-delay: 600ms;
        }
        .animate-4 {
            transition-delay: 900ms;
        }
        .animate-5 {
            transition-delay: 1200ms;
        }
        .animate-6 {
            transition-delay: 1500ms;
        }
        .animate-7 {
            transition-delay: 1800ms;
        }
    }
}

