/*** 

====================================================================
	Testimonial Section
====================================================================

***/

.testimonial-section{
  position: relative;
  padding: 120px 0 120px;
  .bg{
    top: -140px;
    height: calc(100% + 140px);
  }
  .sec-title {
    .sub-title {
      border-color: #d7d7d7;
    }
  }

  .default-dots{
    .owl-dots {
      .owl-dot {
        height: 5px;
        width: 40px;
        margin: 0 5px;
        background-color: #f3f4f7;
        border: 1px solid #d7d7d7;
        @include media-breakpoint-down(sm){
          width: 20px;
        }
        &.active {
          background-color: var(--theme-color1);
          border: 1px solid var(--theme-color1);
        }
      }
    }
  }
  &.style-two {
    .icon-dotted-map-2 {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
    .icon-box-2 {
      position: absolute;
      bottom: -30px;
      right: 40px;
      z-index: 3;
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
    .testimonial-block {
      .inner-box {
        background-color: #f3f4f7;
        &:before {
          background-color: #f3f4f7;
        }
      }
    }
  }
  &.stytle-three {
    .sec-title {
      padding-right: 70px;
      @include media-breakpoint-down(xl){
        text-align: center;
        padding-right: 0;
        .text {
          max-width: 700px;
          margin: 20px auto 0;
        }
      }
    }
    .carousel-outer {
      margin-left: -65px;
      margin-right: -375px;
      @include media-breakpoint-down(xl){
        margin-right: 0;
        margin-left: 0;
      }
    }
    .default-navs {
      .owl-nav {
        display: flex;
        position: absolute;
        left: -435px;
        top: 330px;
        @include media-breakpoint-down(xl){
          justify-content: center;
          position: relative;
          top: auto;
          left: 0;
          width: 100%;
        }
      }
      .owl-next,
      .owl-prev {
        display: block;
        margin: 0px 5px;
        height: 52px;
        width: 52px;
        color: var(--theme-color1);
        border-radius: 50%;
        box-shadow: none;
        border: none;
        background-color: var(--theme-color-light);
        font-size: 16px;
        line-height: 53px;
        font-weight: 700;
        text-align: center;
        transition: all 500ms ease;
        &:hover {
          background-color: var(--theme-color1);
          color: var(--theme-color-light);
        }
      }
    }
  }
}

.testimonial-block{
  position: relative;
  margin-bottom: 25px;
  .inner-box{
    position: relative;
    margin-top: 80px;
    padding: 0 40px 45px;
    background-color: var(--theme-color-white);
    text-align: center;
    &:before{
      background-color: var(--theme-color-white);
      bottom: 99.92%;
      clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
      content:"";
      height: 60px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &:hover{
      .thumb{
        img {
          transform: scale(1.1);
        }
      }
    }
    .thumb{
      position: relative;
      margin-top: -80px;
      overflow: hidden;
      display: inline-block;
      border-radius: 50%;
      border: 6px solid var(--theme-color1);
      margin-bottom: 10px;
      text-align: center;
      img{
        height: 100%;
        object-fit: cover;
        @include transition(all 300ms ease);
      }
    }
    .reason {
      display: block;
      font-size: 18px;
      margin-bottom: 0;
    }
    .rating{
      font-size: 12px;
      color: #f9b524;
      margin-bottom: 3px;
      i{margin-right: 5px};
    }
    .text {
      position: relative;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .info-box{
      .name{
        color: var(--theme-color-dark);
        margin-bottom: 3px;
        font-size: 18px;
        letter-spacing: -0.01em;
      }
      .designation {
        display: block;
        font-size: 14px;
        line-height: 1em;
        color: var(--theme-color1);
        margin-bottom: 0;
        @include transition(all 300ms ease);
      }
    }
    .icon-quote-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%);
      opacity: 0.5;
    }
  }
}

/*** 

====================================================================
	Testimonial Section
====================================================================

***/

.testimonial-section-two {
  position: relative;
  padding: 120px 0;
  .default-dots{
    .owl-dots {
      .owl-dot {
        height: 5px;
        width: 40px;
        margin: 0 5px;
        background-color: transparent;
        border: 1px solid #d7d7d7;
        @include media-breakpoint-down(sm){
          width: 20px;
        }
        &.active {
          background-color: var(--theme-color1);
          border: 1px solid var(--theme-color1);
        }
      }
    }
  }
}

.testimonial-block-two{
  position: relative;
  margin-bottom: 45px;
  .inner-box{
    position: relative;
    display: flex;
    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
    &:hover {
      .thumb {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .image-box {
    position: relative;
    flex-shrink: 0;
    .thumb{
      position: relative;
      margin-bottom: 0;
      text-align: center;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition(all 300ms ease);
      }
    }
    .icon-quote {
      position: absolute;
      top: 0;
      right: 0;
      width: 90px;
      height: 90px;
      background-color: var(--theme-color1);
      background-repeat: no-repeat;
      background-position: center;
      @include media-breakpoint-down(xl){
        height: 50px;
        width: 50px;
        background-size: 34px;
      }
    }
  }

  .content-box {
    background-color: #13222d;
    padding: 35px 43px 25px;
    @include media-breakpoint-down(xl){
      padding: 20px;
    }
    .reason {
      display: block;
      color: var(--theme-color-white);
      font-size: 18px;
      margin-bottom: 0;
    }
    .rating{
      font-size: 12px;
      color: #f9b524;
      i{margin-right: 5px};
    }
    .text {
      position: relative;
      color: var(--theme-color-white);
      font-size: 18px;
      margin-bottom: 20px;
      letter-spacing: -.01em;
    }
    .name{
      color: var(--theme-color-white);
      margin-bottom: 3px;
      font-size: 18px;
      letter-spacing: -0.01em;
    }
    .designation {
      display: block;
      font-size: 14px;
      line-height: 1em;
      color: var(--theme-color1);
      margin-bottom: 0;
      @include transition(all 300ms ease);
    }
  }
}

/*** 

====================================================================
  Testimonial Section
====================================================================

***/

.testimonial-section-three{
  background-color: rgba(223, 223, 223, 0.27);
  position: relative;
  padding: 120px 0 120px;
  .bg-shape {
    @include overlay;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.09;
  }

  .default-dots{
    .swiper-pagination {
      .swiper-pagination-bullet {
        height: 5px;
        width: 40px;
        margin: 0 5px;
        background-color: #f3f4f7;
        border: 1px solid #d7d7d7;
        @include media-breakpoint-down(sm){
          width: 20px;
        }
        &.swiper-pagination-bullet-active {
          background-color: var(--theme-color1);
          border: 1px solid var(--theme-color1);
        }
      }
    }
  }
}
