.shop-sidebar {
	position: relative;
	display: block;
	.sidebar-search {
		.search-form {
			.form-group {
				margin: 0px;
				position: relative;
				input[type='search'] {
					background-color: var(--theme-light-background);
					border: 1px solid var(--theme-light-background);
					border-radius: 5px;
					color: #646578;
					height: 52px;
					padding: 10px 60px 10px 20px;
					position: relative;
					width: 100%;
					transition: all 500ms ease;
				}
				button {
					background-color: var(--theme-color1);
					border-radius: 3px;
					color: var(--theme-color-light);
					cursor: pointer;
					display: inline-block;
					font-size: 18px;
					height: 42px;
					line-height: 42px;
					position: absolute;
					top: 5px;
					right: 5px;
					width: 42px;
					text-align: center;
					transition: all 500ms ease;
					&:hover {
						color: var(--theme-color-light);
						background-color: var(--theme-color1);
					}
				}
			}
		}
		margin-bottom: 30px;
	}
	.sidebar-widget {
		background-color: var(--theme-light-background);
		border-radius: 5px;
		display: block;
		margin-bottom: 30px;
		padding: 35px 30px 37px 30px;
		position: relative;
		&:last-child {
			margin-bottom: 0px;
		}
		.widget-title {
			display: block;
			margin-bottom: 16px;
			position: relative;
			.widget-title {
			}
		}
	}
	.category-widget {
		.category-list {
			li {
				display: block;
				margin-bottom: 14px;
				position: relative;
				&:last-child {
					margin-bottom: 0px;
				}
				a {
					color: #646578;
					display: inline-block;
					font-weight: 400;
					padding-left: 20px;
					position: relative;
					&:before {
						color: var(--theme-color1);
						content: "\f0da";
						font-family: 'Font Awesome 6 Pro';
						font-size: 16px;
						font-weight: 600;
						left: 0px;
						top: 0px;
						position: absolute;
					}
					&:hover {
						color: var(--theme-color1);
					}
				}
			}
		}
	}
	.price-filters {
		.widget-title {
			margin-bottom: 28px;
		}
	}
	.post-widget {
		.post {
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 23px;
			min-height: 108px;
			padding-left: 90px;
			padding-bottom: 24px;
			position: relative;
			&:last-child {
				margin-bottom: 0px;
				border-bottom: none;
			}
			.post-thumb {
				border: 1px solid #d0d4dd;
				border-radius: 5px;
				height: 70px;
				left: 0px;
				position: absolute;
				top: 7px;
				width: 70px;
				transition: all 500ms ease;
				img {
					width: 100%;
					border-radius: 5px;
				}
			}
			a {
				color: #646578;
				display: inline-block;
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 7px;
				position: relative;
			}
			.price {
				color: #0a267a;
				display: block;
				font-size: 14px;
				font-weight: 600;
				line-height: 24px;
				position: relative;
			}
			&:hover {
				.post-thumb {
					border-color: var(--theme-color1);
				}
				a {
					color: var(--theme-color1);
				}
			}
		}
		padding-bottom: 9px;
	}
}
.range-slider {
	position: relative;
	.title {
		line-height: 26px;
		position: relative;
		display: inline-block;
		margin-right: 4px;
		&:before {
			position: absolute;
			content: '$';
			left: -5px;
			top: -19px;
			color: #646578;
			font-size: 18px;
		}
	}
	p {
		position: relative;
		display: inline-block;
		color: #646578;
		margin-right: 10px !important;
	}
	.input {
		color: #646578;
		max-width: 75px;
		font-size: 18px;
		margin-top: 5px;
		position: relative;
		display: inline-block;
		input {
			background: none;
			color: #646578;
			font-size: 15px;
			text-align: left;
		}
	}
	.ui-widget.ui-widget-content {
		height: 4px;
		border: none;
		margin-bottom: 14px;
		background-color: #d0d4dd;
		border-radius: 2px;
	}
	.ui-slider {
		.ui-slider-range {
			top: 0px;
			height: 4px;
			background-color: var(--theme-color1);
		}
	}
	.ui-state-default {
		top: -5px;
		width: 14px;
		height: 14px;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		margin-left: 0px;
		background-color: var(--theme-color1);
		&:before {
			position: absolute;
			content: '';
			background-color: #ffffff;
			width: 6px;
			height: 6px;
			left: 4px;
			top: 4px;
			border-radius: 50%;
		}
	}
	.ui-widget-content {
		.ui-state-default {
			top: -5px;
			width: 14px;
			height: 14px;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			margin-left: 0px;
			background-color: var(--theme-color1);
			&:before {
				position: absolute;
				content: '';
				background-color: #ffffff;
				width: 6px;
				height: 6px;
				left: 4px;
				top: 4px;
				border-radius: 50%;
			}
		}
	}
	input[type="submit"] {
		background-color: var(--theme-color1);
		border-radius: 10px;
		color: var(--theme-color-light);
		border: none;
		cursor: pointer;
		display: block;
		font-size: 14px;
		font-weight: 500;
		float: right;
		margin-top: 0;
		padding: 7px 20px;
		position: relative;
		text-align: center;
		text-transform: capitalize;
		transition: all 500ms ease;
		&:hover {
			background-color: var(--theme-color2);
			color: var(--theme-color-white);
		}
	}
}
